{% extends "base.html" %} 
{% load i18n %}
{% block content %}

<section class="general-container ">
  <h2 class="text-center pb-4">{% trans 'Lista de proveedores de' %} {{empresa.empresa.nombre}}</h2>
  <section class="container d-grid gap-3 pb-4">
    <section class="row">
      {% if tieneProveedores %}
      <section class="d-flex justify-content-between mb-2">
        
        <h2>{% trans 'Gestiona proveedores' %}</h2>
        <a href="/proveedor/crear?empresa={{empresa.id}}">
          <button type="button" class="btn btn-primary">
            <i class="bi bi-plus-lg"></i>
          </button>
        </a>
      </section>
      
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th>{% trans 'Nombre' %}</th>
            <th>{% trans 'Id Tributaria' %}</th>
            <th>{% trans 'Acciones' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in list %}
          <tr>
            <td>
              {{ item.nombre }}            
            </td>
            <td>
              {{ item.id_tributaria }}            
            </td>
            <td class="d-flex">
              <a href="/proveedor/ver?proveedor={{item.id}}">
                <button type="button" class="mx-2 btn btn-info">
                  <i class="bi bi-search"></i>
                </button>
              </a>
              <a href="/proveedor/modificar?proveedor={{item.id}}">
                <button type="button" class="mx-2 btn btn-primary">
                  <i class="bi bi-pencil-square"></i>
                </button>
              </a>
              <a href="/proveedor/eliminar?proveedor={{item.id}}">
                <button type="button" class="mx-2 btn btn-danger">
                  <i class="bi bi-person-x"></i>
                </button>
              </a>
            </td>
          </tr>   
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <section class="d-flex justify-content-between mb-2">
        <h2>{% trans 'No se tienen proveedores registrados' %}</h2>
        <a href="/proveedor/crear?empresa={{empresa.id}}">
          <button type="button" class="btn btn-primary">
            <i class="bi bi-plus-lg"></i>
          </button>
        </a>
      </section>
      {% endif %}
    </section>
  </section>
  
</section>



{% endblock content %}
