{% extends "base.html" %} 
{% load i18n %}
{% block content %}
<section class="general-container w-100">
  {% include "../../common/navigation-bar.html" with back_link=request.META.HTTP_REFERER list_link=list_link %}
  <h2 class="text-center pb-4">{% trans 'Información del proveedor' %}</h2>
  <div class="container col-10 mx-auto">
    <h5>{% trans 'Proveedor' %}</h5>
    <table class="table">
      <tbody>
        <tr>
          <td>{% trans 'Nombre' %}</td>
          <td>{{proveedor.nombre}}</td>
        </tr>
        <tr>
          <td>{% trans 'Servicio que proporciona' %}</td>
          <td>{{proveedor.servicio_proporciona}}</td>
        </tr>
        <tr>
          <td>{% trans 'Teléfono' %}</td>
          <td>{{proveedor.tlf}}</td>
        </tr>
        <tr>
          <td>{% trans 'País' %}</td>
          <td>{{proveedor.pais}}</td>
        </tr>
        <tr>
          <td>{% trans 'Ciudad o provincia' %}</td>
          <td>{{proveedor.ciudad}}</td>
        </tr>
        <tr>
          <td>{% trans 'Dirección' %}</td>
          <td>{{proveedor.direccion}}</td>
        </tr>
        <tr>
          <td>{% trans 'Correo electrónico' %}</td>
          <td>{{proveedor.email}}</td>
        </tr>
        <tr>
          <td>{% trans 'Pagina web' %}</td>
          <td>{{proveedor.web_site}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
 
  <div class="container col-10 mx-auto">
    <h6>{% trans 'Redes sociales' %}</h6>
    <table class="table">
      <tbody>
        {% for redSocial in socialMedia %}
        {% if redSocial.nombre.value != None %}
        <tr>
          <td>{{redSocial.nombre.value}}</td>
          <td>{{redSocial.valor.value}}</td>
        </tr>
        {% endif %}
        
        {% endfor %}
      </tbody>
    </table>
  </div>

  <br/>
  
  <div class="container col-10 mx-auto">
    <h5>{% trans 'Representante' %}</h5>
    <table class="table">
      <tbody>
        <tr>
          <td>{% trans 'Nombre' %}</td>
          <td>{{proveedor.representante}}</td>
        </tr>
        <tr>
          <td>{% trans 'Cargo' %}</td>
          <td>{{proveedor.cargo}}</td>
        </tr>
        <tr>
          <td>{% trans 'Correo electrónico' %}</td>
          <td>{{proveedor.email_representante}}</td>
        </tr>
        <tr>
          <td>{% trans 'Correo electrónico personal' %}</td>
          <td>{{proveedor.email_personal_representante}}</td>
        </tr>
        <tr>
          <td>{% trans 'Teléfono' %}</td>
          <td>{{proveedor.tlf_representate}}</td>
        </tr>
        <tr>
          <td>{% trans 'Teléfono local' %}</td>
          <td>{{proveedor.tlf_local}}</td>
        </tr>
        <tr>
          <td>{% trans 'País de residencia' %}</td>
          <td>{{proveedor.pais_representante}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  
  <div class="container col-10 mx-auto">
    <h6>{% trans 'Redes sociales' %}</h6>
    <table class="table">
      <tbody>
        {% for redSocial in socialMediaRepresentante %}
        {% if redSocial.nombre.value != None %}
        <tr>
          <td>{{redSocial.nombre.value}}</td>
          <td>{{redSocial.valor.value}}</td>
        </tr>
        {% endif %}
        
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="container col-10 mx-auto">
    <section class="d-flex justify-content-center">
      <a href="/proveedor/modificar?proveedor={{proveedor.id}}" class="mx-2">
          <button class="btn btn-primary">
              {% trans 'Editar' %}
          </button>
      </a>
      <a href="/proveedor/eliminar?proveedor={{proveedor.id}}" class="mx-2">
          <button class="btn btn-danger">
              {% trans 'Eliminar' %}
          </button>
      </a>
  </section>
  </div>
</section>
<br/>
  

{% endblock content %}
