{% extends "../base.html" %}

{% block content %}
    <section class="main-layout">
        <section class="main-layout__container">
            <h1 class="main-title">¿Qué deseas gestionar?</h1>
            <ul class="main-menu-list">
                <li class="main-menu-list__item">
                    <a>Empresas</a>
                </li>
                <li class="main-menu-list__item">
                    <a>Clientes</a>
                </li>
                <li class="main-menu-list__item">
                    <a>Proveedores</a>
                </li>
            </ul>
        </section> 
    </section>
{% endblock content %}