{% extends "../../base.html" %}
{% load i18n %}

{% block content %}
<section class="general-container w-100 h-100">
    {% include "../../common/navigation-bar.html" with back_link=request.META.HTTP_REFERER list_link="" %}
    <section class="w-100 d-flex flex-column justify-content-center align-items-center">
        <section class="rounded p-4 bg-white mt-4">
            <h2 class="text-center pb-4">{% trans "Borrar empleado" %}</h2>
            <form method="post">
                {% csrf_token %}
                <p> {% trans "¿Deseas borrar al empleado" %} {{ object.nombre }} {{ object.apellido }}?</p>
                <section class="w-100 d-flex justify-content-center">
                    <button class="mx-2 btn btn-danger">
                        {% trans "Borrar" %}
                    </button>

                    <a href="{% url 'empresa:list-employee' business_id=business_id %}">
                        <button type="button" class="btn btn-light">
                            {% trans "Cancelar" %}
                        </button>
                    </a>
                </section>
            </form>
        </section>
    </section>
</section>
{% endblock content %}
{% block inline_javascript %}
{% endblock %}
